*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin Multiplatform / Compose Multiplatform specific
.kotlin
/composeApp/build
/iosApp/build
/iosApp/.pages
/iosApp/.DS_Store

# Xcode / iOS specific
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Android Studio / IntelliJ IDEA
.idea/
/build/
