# ====================================================================
# Android Studio / IntelliJ / Kotlin / Gradle Caches
# ====================================================================
.gradle/
.kotlin/
.idea/
build/
**/build/
*.iml
captures/
.externalNativeBuild/
.cxx/
local.properties

# ====================================================================
# Apple / iOS / Xcode Templates & Caches
# ====================================================================
.DS_Store
**/ .DS_Store
DerivedData/
*.xcuserstate
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
xcuserdata/
**/xcuserdata/

# ====================================================================
# Kotlin Multiplatform Generated Frameworks & Binaries
# ====================================================================
**/sharedUI.framework

*.xcframework/
**/*.xcframework/

iosApp/iosApp/Frameworks/*
!iosApp/iosApp/Frameworks/

# ====================================================================
# Security & Signing (Keystores)
# ====================================================================
*.jks
*.gpg
